<link rel="stylesheet" type="text/css" href="resources/css/sitios.css">
<div><!--div de sitios de interes-->
    <div class="scrollBox col-xs-6"><!--Caja con eventos-->
        <div class="panel panel-default itemBox" ng-repeat="e in events"><!--Div para cada evento-->

            <div class="panel-heading">{{e.title}}</div>
            <div class="panel-body">
                <div class="imgContainer">
                    <img ng-src="{{e.image}}" ng-click="actualizarInfo(e)"/>
                </div>
                <div class="descMiniatura">
                    <p>
                        <strong>Tipo: </strong>{{e.type}}<br>
                        <strong>Fecha: </strong>{{e.start|date:'mediumDate'}}<br>
                        <strong>Hora inicio: </strong>{{e.start|date:'shortTime'}}<br>
                        <strong>Hora fin: </strong>{{e.end|date:'shortTime'}}<br>

                    </p>
                </div>
                <button class="btn-primary botonItem" ng-click="anadirEvento(e)" ng-confirm-click="¿Seguro quieres agregar el evento {{e.title}}?">Añadir</button>
            </div>
        </div>
    </div><!--cerrar caja con eventos-->

    <div class="sitiosDescription col-xs-6"><!--div para descripcion del evento-->
        <div class="tituloEvento">
            <h3>Descripcion</h3>
            <h5>{{eventoActual.title}}</h5>
        </div>
        <div class="descriptionText col-xs-12">
            <img class="sitiosImage" align="right" ng-src="{{eventoActual.image}}"/>
            <p align="justify">{{eventoActual.description}}</p>
        </div>
        <div class = "col-xs-12">
            <hr>
            <h4>Calificaciones</h4>
            <div class="calificaciones col-xs-12"><!--Abre div comentarios-->

                <div class="calificacion" ng-repeat="comentario in comentariosActuales"><!--abre div de un comentario-->
                    <img class="img-circle fotoPerfil" ng-src="{{comentario.userPhoto}}"/>
                    <p>{{crearEstrellas(comentario.stars)}}</p>
                    <p><strong>{{comentario.user}}: </strong>{{comentario.comment}}</p>
                </div><!--cierra div de un comentario-->
            </div><!--Cierra div comentarios-->
                <button class="btn-primary botonItem" data-toggle="modal" data-target="#modalRate">Calificar</button>
        </div>
    </div><!--cerrar div para descripcion del evento-->
</div><!--cerrar div de sitios de interes-->

<!-- Modal -->
<div id="modalRate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="reset()">&times;</button>
                <h4 class="modal-title">Calificar</h4>
            </div>
            <form action="">
                <div class="modal-body form-group">
                    <div id="stars" class="noselect"> <strong>Califica tu experiencia:  &nbsp;</strong>
                        <span id="1" ng-click="comentarioActualStars(1)" ng-mouseover="paintStar(1)" ng-mouseleave="resetPaint()" class="star">&#9734</span>
                        <span id="2" ng-click="comentarioActualStars(2)" ng-mouseover="paintStar(2)" ng-mouseleave="resetPaint()" class="star">&#9734</span>
                        <span id="3" ng-click="comentarioActualStars(3)" ng-mouseover="paintStar(3)" ng-mouseleave="resetPaint()" class="star">&#9734</span>
                        <span id="4" ng-click="comentarioActualStars(4)" ng-mouseover="paintStar(4)" ng-mouseleave="resetPaint()" class="star">&#9734</span>
                        <span id="5" ng-click="comentarioActualStars(5)" ng-mouseover="paintStar(5)" ng-mouseleave="resetPaint()" class="star">&#9734</span>
                    </div><br>
                    <textarea placeholder="Mi experiencia fue..." cols="55" rows="6" ng-model="newComment.comment" class="form-control" id="comment"></textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="finComentarioActual()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>

                </div>
            </form>
        </div>

    </div>
</div>