<link href="src/modules/calendar/calendar.css" rel="stylesheet" type="text/css"/>
<div class="container">
    <div class = "row" ng-repeat="i in [1, 2]">
        <div class="col-xs-2" ng-repeat="n in [1, 2, 3, 4, 5, 6]">
            <div class ="square">
                <p class='text-left col-xs-offset-1' id='date'>feb {{n}} 2016</p>
            </div>
        </div>
    </div>
    <div class ="row information">
        <div class="jumbotron event-detail">
            <p class='text-center'>There's no event information at the moment for the day.</p>
        </div>
    </div>
</div>

