<link href="resources/css/calendar.css" rel="stylesheet" type="text/css"/>

<div class="page-switcher" id="left-switcher" ng-click="decreasePageNum();">
    <span class="glyphicon glyphicon-menu-left" ></span>
</div>

<div class="page-switcher" id="right-switcher" ng-click="increasePageNum();">
    <span class="glyphicon glyphicon-menu-right"></span>
</div>

<div class = "container" id="planner">

    <div class="row seven-cols">
        <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 nopadding" ng-repeat="day in days[pagenum]">
            <div class ="square" 
                 ng-mouseenter="highlight = true"  
                 ng-mouseleave="highlight = false" 
                 ng-style="squareBackground(day, highlight)"
                 ng-click="toggleDayInfo();setSelectedDay(day);"
                 >
                <p class='text-left col-xs-offset-1' id='date'>{{day.date| date}}</p>
            </div>
        </div>
    </div>

    <div ng-show="showDayInfo" class="row col-xs-12 day-information">
        <div class="col-xs-12 text-right" id="day-information-title" ng-click="toggleDayInfo();"><span class="glyphicon glyphicon-menu-down"></span></div>
        <h1>{{selectedDay.date| date}}</h1>
    </div>
</div>