<!DOCTYPE html>
	<head>
		<title>Photo Gallery</title>
                <link rel="stylesheet" type="text/css" href="resources/css/photogallery.css">
	</head>

	<body>
		<div id="header">
			<h1 id="name">Galería de Fotos</h1>
		</div>
            <div class="left">
                <img src="{{photos[index].src}}" id="image"/>
            </div>
            <div class="right">
                <p><b>En: </b>{{photos[index].place}} </p>
                <p>({{photos[index].date | date}})</p>
                <p>{{photos[index].desc}}</p>
            </div>
                <div id="footer">
                    <button type="button" ng-click="nextImage()">+</button> 
                   <button type="button" ng-click="previousImage()">-</button> 
                    
                </div>
	</body>
</html>