.page-switcher{
    position: absolute;
    height:100%;
}

#left-switcher{
    left: 3%;
    top: 60%;
}

#right-switcher{
    right: 3%;
    top: 60%;
}


.square {
    font-size: 15px;
    height: 100%;
    padding-bottom: 75%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    margin-right: 0px;  
    margin-left: 0px; 
    margin-bottom: 0px;
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

.event-detail{
    height: 180px;
    background-color: rgba(255, 68, 71, 1);
}

.nopadding {
    padding: 0 !important;
    margin: 0px !important;
}

#date{
    padding-top: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#planner{
    position: relative;
    height: 100%;
}

.day-information{
    transition: linear 0.2s;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0%;
    padding: 0px;
    height:100%;
}

#day-information-title{
    background: rgba(255, 68, 71, .8);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    height: 30px;
    margin: 0px !important;
}


.ng-hide {
  top:-200px;
}