.arrow{
    margin: 0px;
    padding: 0px;
}

.month-name{
    margin-bottom: 0px;
}

.general-day-info{
    height: 100%;
}

.page-switcher{
    position: fixed;
    top: 55%;
}

#left-switcher{
    left: 3%;
}

#right-switcher{
    right: 3%;
}

.square {
    font-size: 15px;
    height: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    margin-right: 0px;  
    margin-left: 0px; 
    margin-bottom: 0px;

}

.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
}


.event-detail{
    height: 180px;
    background-color: rgba(255, 68, 71, 1);
}

.nopadding {
    padding: 0 !important;
    margin: 0px !important;
}

#date{
    padding-top: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.planner{
    position: relative;
    height: 100%;
}

.planner-background{
    background-color: rgba(0,0,0,1);
}

.day-information{
    transition: linear 0.2s;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    top: 0%;
    padding: 0px;
    height:100%;
}

#day-info-header-left{
    float: left;
}

#day-info-header-right{
    float: right;
}

#day-information-title{
    background: rgba(94, 168, 167, 1);
    color: rgba(255,255,255,1);
    border-radius: 5px;
    font-size: 18px;
    height: 30px;
    margin: 0px !important;
}

#collapse-icon{
    padding: 0px;
    margin: 0px;
    top: 50%;
    align-content: center;
    color: white !important;
}

.timeline{
    position: relative;
}

.ng-hide {
    top:-200px;
}

