.imageTrip{
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    float: none;
    margin: 0 auto;
}

#addbutton{
    width: 50px;
    height: 50px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    float: none;
    margin: 0 auto;
}

.imageTrip:hover{
    transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
}

.tripBox{
    padding : 200px;
    max-height: 150px;
    max-width: 300px;   
}

.btn-circle.btn-xl {
  width: 1.1em;
  height: 1.1em;
  padding: 7px 2px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 110px;
  font-size: 14em;
}

.agregarCalendario md-content {
    padding-bottom: 200px; 
}

.test{
    border-radius: 50px;
}