body{
    font-family: 'Didact Gothic','Open Sans', sans-serif;
}

.navbar-inverse {
    background-color: rgba(7, 41, 63, 1);
    border-color: #000000;
}

.navbar-brand{
    color:white;
    font-size: 30px;
    line-height:15px;
}

#nospace{
    margin:0px !important;
    padding:0px !important;
}