/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.loginform{
    overflow: visible;
    top: 160px;
    color: #e5e5e5;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 0px;
}

.popupform{
    background-color: #e5e5e5;

}

.bg{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{


    background-repeat: no-repeat;
    background-size: cover;
}

#sinput{
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
    color: #e5e5e5;
    width: 100%;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px;
}

minimalistic-btn{
    padding: 5px;
}
.map {
    height: 200px;
    width: 500px;

}
.map_angular
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;     
}

