

div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	
}



.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;

}

li {
	list-style-type: square;
}


.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 73%;
	height: 400px;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 25%;
	height: 400px;
	background-color: rgba(180, 209, 255, 0.5);
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 70px;
	background-color: rgba(180, 209, 255, 0.5);
	clear: both;

}

.photopreview{
    height: 100%;
    width: 100%;
}

#image
{
    zoom: 4;

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}



