.scrollBox{
    height: 50em;
    overflow: auto;
    float: left;
    border-right: 1px #d9d9d9 solid;
    border-left: 10px #d9d9d9 solid;
    padding-left: -10em;
    margin-left: -1em;
}
.sitiosImage{
    width: 45%;
    height: 45%;
    float: right;
    margin-left: 1em;
}
.itemBox{
    width: 12em;
    height: 22em;
    margin: 0.25em 0.5em 0.25em 0.5em;
    float: left;
}
.imgContainer{
  overflow:hidden;
  width:10em;
  height:8em;
  position: relative;
}
.imgContainer:hover {
    cursor: pointer;
}
.imgContainer img{
   height: 8em;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.sitiosDescription{
    float: right;
    width: 42%;
    margin-right: 2em;
}
.descriptionText{
    margin-right: 1.25em;
}
.eventosMiniatura{
    width: 37%;
    height: 37%;
    margin-left: 5em;
    float: center;
}
.descMiniatura{
    padding: 0.2em 0.2em 0em 0.2em;
}
.botonItem{
    float: right;
    margin-right: 0.05em;
    margin-bottom: 0.05em;
}
.tituloEvento h3{
    float: left;
}
.tituloEvento h5{
    float: right;
    padding-top: 1.5em;
}
.tituloEvento{
    margin: 0.1em;
    overflow: auto;
    margin-right: 1.25em;
}
.titulo{
    margin-left: 3em;
}
.fotoPerfil{
    height: 2em;
    float: left;
    margin-right: 1em;
}
.calificacion{
    border-top: 1px #d9d9d9 solid;
    border-bottom: 1px #d9d9d9 solid;
    padding-top: 1em;
    padding-bottom: 1em;
}
.calificaciones{
    height: 20em;
    overflow: auto;
    margin-bottom: 0.5em;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
    cursor: default;
    font-size: 1.25em;
}
.star{
    cursor: pointer;
    font-size: 2em;
    color:#FFFB24;
}