<link rel="stylesheet" type="text/css" href="resources/css/photogallery.css">
<div ng-hide="showAll">
<div class="container slider col-xs-10 col-xs-offset-1">
    <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.src}}">

    <a class="arrow prev" ng-click="nextSlide()"></a>
    <a class="arrow next" ng-click="prevSlide()"></a>
    <nav class="nav1">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a ng-class="{'active':isCurrentSlideIndex($index)}"
                       ng-click="setCurrentSlideIndex($index);"></a></li>
            </ul>
        </div>
    </nav>
    
</div>
<div class="container-fluid">
    <button type="button" ng-click="changeView()">Ver todo</button>
    <button type="button" class="col-xs-offset-8" ng-click="addSlide()">Agregar Foto</button>
    <button type="button" ng-click="deleteSlide($index)">Eliminar Foto</button>
</div>
</div>

<div ng-show="showAll">
    
    <div class="container-fluid">
        <button class="col-xs-offset-0" type="button" ng-click="changeView()">Volver</button>
    </div>
    
    <div ng-repeat="items in splitSlides" class="row">
        <div ng-repeat="item in items" class="col-md-2">
            <div class="minPicture">
                <img ng-src="{{item.src}}" ng-click="setCurrentSlideIndex($index);changeView()">
            </div>
        </div>
    </div>
</div>
