<link rel="stylesheet" type="text/css" href="resources/css/photogallery.css">


<div class="col-xs-12 main-image">    
    
    <img src="{{photos[actIndex].src}}"/>
    
    <div class="dotstyle dotstyle-fillup col-xs-offset-4">
        <ul ng-repeat="photo in photos">
            <li class="current" ng-click="changePhoto(photo)"><a></a></li>
	</ul>
    </div>
   
</div>



<div class="page-switcher col-xs-offset-0" id="left-switcher" ng-click="previousImage();">
    <span class="glyphicon glyphicon-menu-left" ></span>
</div>

<div class="page-switcher col-xs-offset-10" id="right-switcher" ng-click="nextImage();">
    <span class="glyphicon glyphicon-menu-right"></span>
</div>

