<link rel="stylesheet" type="text/css" href="resources/css/home.css">
<div>
    <h1 class="title text-center">Mis Viajes</h1>
</div>
<br />
<div class = "container-fluid"><!--Pagina Principal Con Viajes-->
    <div class="row-fluid">
        <div>
            <div class="col-xs-1 col-xs-offset-5"><!--division para cada viaje/itinerario-->
                <div>
                        <button type="button" class="btn btn-default btn-circle btn-xl" data-toggle="modal" data-target="#modalRate" style="background-color:transparent; border: none !important;"><i class="glyphicon glyphicon-plus-sign"></i></button>
                </div>
                <div class="sampleText col-xs-offset-5">
                    <p>
                        <strong class="text-center">Agregar</strong><br>
                    </p>
                </div>
            </div>

            <div id="modalRate" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" ng-controller="HomeController">
                        <form action="">
                           
                            <md-datepicker ng-model="myDate" md-placeholder="Enter date">
                            <input type="date" ng-init="message1 = 'Initial Date'" ng-model="message1" >
                            </md-datepicker>
                            
                            <md-datepicker ng-model="myDate" md-placeholder="Enter date">
                            <input type="date"ng-init="message2 = 'Final Date'" ng-model="message2" >
                            </md-datepicker>
                            
                            <button ng-click="setInit(message1);setEnd(message2)">
                            <a ui-sref="calendar">Crear</a>
                            </button>
                            
                            <button><a href="">Cancelar</a></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--<div>
            <div class="---" ng-controller="MainController">
              <div class="row-fluid">
             <div class="---" ng-repeat="viajes in viajes">
              <app-info info="viajes"></app-info>
            </div>
          </div>
        </div>
        </div>-->
    </div>
</div>
