<link rel="stylesheet" type="text/css" href="resources/css/home.css">
<div>
    <h1 class="title text-center">Mis Viajes</h1>
</div>
<br />
<div class = "container-fluid"><!--Pagina Principal Con Viajes-->
    <div class="row-fluid">
        <div>
            <div class="col-xs-4"><!--division para cada viaje/itinerario-->
                <div>
                    <a href = "">
                        <button type="button" class="btn btn-default btn-circle btn-xl" data-toggle="modal" data-target="#modalRate" style="background-color:transparent; border: none !important;"><i class="glyphicon glyphicon-plus-sign"></i></button>
                    </a>
                </div>
                <div class="sampleText col-xs-offset-0">
                    <p>
                        <strong>Add New</strong><br>
                    </p>
                </div>
            </div>

            <div id="modalRate" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <form action="">
                           
                            <input type="date" ng-init="message1 = 'Initial Date'" ng-model="message1" >
                            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                            <input type="date"ng-init="message2 = 'Final Date'" ng-model="message2" >
                            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                            <button ng-click="setInit(message1);
                            setEnd(message2)"><a ui-sref="calendar">Crear</a></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!--<div>
        <div class="---" ng-controller="MainController">
          <div class="row-fluid">
         <div class="---" ng-repeat="viajes in viajes">
          <app-info info="viajes"></app-info>
        </div>
      </div>
    </div>
        </div>-->
        <div class="col-xs-4"><!--division para cada viaje/itinerario-->
            <div>
                <a href = "">
                    <img class ="imageTrip" src="http://digital.fespa.com/images/Amsterdam.jpg"/>
                </a>
            </div>
            <div class="sampleText col-xs-offset-2">
                <p>
                    <strong>London</strong><br>
                    <strong>12/01/17</strong><br>
                </p>
            </div>
        </div>

        <div class="col-xs-4"><!--division para cada viaje/itinerario-->
            <div>
                <a href = "">
                    <img class ="imageTrip" src="http://media-cdn.tripadvisor.com/media/photo-s/07/bd/a1/8a/downtown-dubai-cityscape.jpg"/>
                </a>
            </div>
            <div class="sampleText col-xs-offset-2">
                <p>
                    <strong>Dubai</strong><br>
                    <strong>17/03/14</strong><br>
                </p>
            </div>
        </div>
    </div>
</div>
