<link href="resources/css/calendar.css" rel="stylesheet" type="text/css"/>
<link href="resources/css/mapa.css" rel="stylesheet" type="text/css"/>

<div class="page-switcher" id="left-switcher" ng-click="decreasePageNum();">
    <span class="glyphicon glyphicon-menu-left" ></span>
</div>

<div class="page-switcher" id="right-switcher" ng-click="increasePageNum();">
    <span class="glyphicon glyphicon-menu-right"></span>
</div>

<div class = "container planner">
    <div class="col-xs-12 text-center">
        <div ng-click="toggleFullMonth();">
            <h2 class="month-name">{{days[pagenum][0].date| date : 'MMMM yyyy'}}</h2>
            <span class="arrow" ng-class="toggleFullMonthArrow()"></span>
        </div>
    </div>
    <div class="row seven-cols">

        <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 text-center nopadding" ng-repeat="name in daynames">
            <h4>{{name}}</h4>
        </div>

        <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 nopadding" ng-repeat="day in days[pagenum]">
            <div class ="square"
                 ng-mouseenter="highlight = true"
                 ng-mouseleave="highlight = false"
                 ng-style="squareBackground(day, highlight)"
                 ng-click="toggleDayInfo(day);"
                 >
                <p class='text-left col-xs-offset-1' id='date'>{{day.date| date : 'dd'}}</p>
                <div class='general-day-info' ng-show='{{day.valid}} && highlight'>
                    <p class='text-left col-xs-offset-1'>city: unknown</p>
                    <p class='text-left col-xs-offset-1'>events: none</p>
                    <p class='text-left col-xs-offset-1'>photos: none</p>
                    <p class='text-left col-xs-offset-1'>info: none</p>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="showDayInfo" class="row col-xs-12 day-information">
        <div class="col-xs-12 text-right" id="day-information-title" ng-click="toggleDayInfo(selectedDay);">
            <h3 id="collapse-icon"><span class="glyphicon glyphicon-menu-down" ui-sref="itinerario"></span></h3>
        </div>
        <div class="container-fluid">
            <h1 class="col-xs-2 text-left" id="day-info-header-left">
                city
                <small><span class="glyphicon glyphicon-pencil"></span></small>
            </h1>
            <h1 class="col-xs-3 text-right" id="day-info-header-right">{{selectedDay.date| date}}</h1>
            <!--links-->
            <a ui-sref="itinerario.multimedia()">PhotoGallery</a>
            <a ui-sref="itinerario.plandia()">Dia</a>
            <a ui-sref="itinerario">cerrar</a>
            <!--fin links-->
        </div>
        <div class="container-fluid">
            <!-- nested views -->
            <div ui-view="multimedia"></div>
            <div ui-view="plandia"></div>
            <!-- fin nested views -->
        </div>


    </div> 

    <a ui-sref="itinerario.mapa()"><button type="button" class="btn btn-default col-xs-offset-10 col-xs-2" data-toggle="modal" data-target="#myMap">Ver Mapa</button></a>

    <!-- Modal -->
    <div class="modal fade" id="myMap">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Modal title</h4>

                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div ng-controller="MapController">
                                <div id="map"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>