<link href="resources/css/calendar.css" rel="stylesheet" type="text/css"/>
<link href="resources/css/mapa.css" rel="stylesheet" type="text/css"/>

<div class = "container-fluid planner" ng-cloak="">
    <h1 class="text-center">Calendar</h1>
    <div ng-repeat="month in days">
        <div class="text-left">
            <div>
                <h2 class="month-name">{{month[month.length - 1].fecha | date : 'MMMM yyyy'}}</h2>
            </div>
        </div>
        <div class="row seven-cols">
            <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 text-center nopadding" ng-repeat="name in daynames">
                <h4>{{name}}</h4>
            </div>

            <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 nopadding" ng-repeat="day in month">
                <div class ="square"
                     ng-mouseenter="highlight = true"
                     ng-mouseleave="highlight = false"
                     ng-style="squareBackground(day, highlight)"
                     ng-click="toggleDayInfo(day);"
                     >
                    <p class='text-left col-xs-offset-1' id='date'>{{day.fecha| date : 'dd'}}</p>
                    <div class='general-day-info' ng-show='{{day.valid}} && highlight'>
                        <p class="text-left col-xs-offset-1">{{day.pais}}</p>
                        <p class='text-left col-xs-offset-1'>{{day.ciudad}}</p>
                        <p class='text-left col-xs-offset-1'>events: {{day.eventos.length}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="showDayInfo" class="row col-xs-12 day-information">
        <div class="col-xs-12 text-right" id="day-information-title" ng-click="toggleDayInfo(selectedDay);">
            <h3 id="collapse-icon"><span class="glyphicon glyphicon-menu-down"></span></h3>
        </div>
        <div class="container-fluid">
            <h2 class="col-xs-9 text-left" id="day-info-header-left">
                {{selectedDay.pais}} - {{selectedDay.ciudad}}
            </h3>
            <h2 class="col-xs-3 text-right" id="day-info-header-right">{{selectedDay.fecha| date}}</h2>

        </div>
        <div class="container-fluid">
            <ul class="nav nav-tabs tab-text" id="tab-spacing">
                <li data-toggle="tab" class="active"><a ui-sref="viajero.itinerario.plandia()" >Events</a></li>
                <li data-toggle="tab"><a ui-sref="viajero.itinerario.evento()">Search events</a></li>
            </ul>
            <div class="view-container">
                <!-- nested views -->
                <div ui-view="plandia"></div>
                <div ui-view="evento"></div>
                <!-- fin nested views -->
            </div>
            <div class="view-container">

            </div>
        </div>
    </div>
</div>
