<link href="resources/css/day.css" rel="stylesheet" type="text/css"/>

<!-- Detalles de los eventos del día -->
<div class="row content container" ng-hide="editMode">
    <button type="button" class="btn btn-success btn-lg" ng-click="createRecord()">Create new event</button>
    <div class="divider"></div>
    <button type="button" class="btn btn-primary btn-lg" ng-click="fetchRecords()">Refresh</button>
    <br><br>
    <ul class="timeline">
        <li ng-repeat="event in events | orderBy: '+start'"
            ng-class="style({{$odd}})">
            <div class="timeline-badge info"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{event.title}}</h4>
                    <h5>{{event.start}} - {{event.end}}</h5>
                </div>
                <div class="timeline-body">
                    <p>{{event.description}}</p>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" >
                            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-click="editRecord()"><a>Edit</a></li>
                            <li><a>Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- Creación de un evento -->
<div ng-show="editMode" class="col-xs-offset-1 col-md-9 well">
    <form novalidate name="form" role="form" ng-submit="ctrl.saveRecord()">
        <alert ng-messages="form.$error" type="danger" close="" ng-hide="!form.$error.required">
            <div ng-message="required">
                Please fill out all the fields.
            </div>
            <br />
        </alert>
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentEvent.id"/>
            <div class="form-group col-md-12" >
                <label for="name" class="col-md-2 control-label">Event name</label>
                <div class="col-md-10">
                    <input id="title" name="name" class="form-control" type="text" ng-model="currentEvent.title" required />
                </div>
            </div>
            <div class="form-group col-md-12" >
                <label for="name" class="col-md-2 control-label">Begins</label>
                <div class="col-md-10">
                    <input id="start" name="name" class="form-control" type="time" ng-model="currentEvent.start" required />
                </div>
            </div>
            <div class="form-group col-md-12" >
                <label for="name" class="col-md-2 control-label">Ends</label>
                <div class="col-md-10">
                    <input id="end" name="name" class="form-control" type="time" ng-model="currentEvent.end" required />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="description" class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <textarea rows="5" cols="10" id="description" name="description" class="form-control" ng-model="currentEvent.description" required />
                </div>
            </div>
            <div class="col-xs-offset-5">
                <button type="submit" class="btn btn-success btn-lg">Save</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger btn-lg" ng-click="form.$setPristine(); fetchRecords();">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>