<link href="resources/css/day.css" rel="stylesheet" type="text/css"/>

<!-- Detalles de los eventos del día -->
<div class="row content container">
    <div class="list-group col-xs-10 col-xs-offset-1">
        <a class="list-group-item" data-toggle="modal" data-target="#newEventModal"
           ng-repeat="section in daySections"
           id="{{ $index}}"
           ng-click="hourClicked($index)" 
           ng-style="style($index)">               
            {{ section.hour | date:'shortTime' }} {{ section.text}}
        </a>
    </div>
</div>


<!-- Event creation modal-->
<div id="newEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">New event</h4>
            </div>
            <div class="modal-body">
                <form action="action_page.php">
                    <div class="modal-parameters col-xs-1">
                        Name:  <br>
                        Start: <br>
                        End:   <br>
                    </div>
                    <div class="modal-inputs col-xs-3" >
                        <input type="text" name=" name" id="newEventName"><br>
                        <input type="text" name="startHour" value="{{ halfHours[indexClicked]}}" id="newEventStartHour"><br>
                        <input type="text" name="endHour" value="{{ halfHours[indexClicked + 2]}}" id="newEventEndHour">
                    </div>
                    <button  type="button" class="botonCrear btn btn-success" data-dismiss="modal" ng-click="addNewEvent()">Create</button>
                </form>
            </div>
            <div style="clear: both;" class="modal-footer">
                <a ui-sref="evento"><button type="button" class="btn btn-info" data-dismiss="modal" onclick="removeModal();">Search available events</button></a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function removeModal(){
            $('#modalRate').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
    };
</script>
